<div class="container-fluid">
    <div class="row mt-header-container text-info">
        <app-header></app-header>
    </div>

    <div class="row text-white bg-dark">
        <div class="col-3">
            <hr>
            <div class="mt-row-top">
                <app-sidebar></app-sidebar>
            </div>

        </div>
        <div class="col-6">
            <div class="mt-col-80">
                <post-form></post-form>
                <app-post></app-post> 
            </div>
        </div> 
        <div class="col-3">
            <app-follower></app-follower>
        </div>     
    </div>
    
</div>




