<div class="container-fluid">
    <div class="row mt-header-container text-info">
        <app-header></app-header>
    </div>

    <div class="row text-white bg-dark">
        <div class="col-3">
            <div class="mt-row-top">
                
            </div>
            <div class="mt-row-bottom">
                <app-follower></app-follower>
            </div>
        </div>
        <div class="col-9">
            <div class="mt-col-80">
                <post-form></post-form>
                <app-post></app-post> 
            </div>
        </div>      
    </div>
    
</div>




