<div class="container-fluid">
    <div class="row mt-header-container text-info">
        <app-header></app-header>
    </div>

    <div class="row text-white bg-dark">
        <div class="col-3">
            <hr>
            <div class="mt-row-top">
                <app-sidebar></app-sidebar>
            </div>

        </div>
        <div class="col-6">
            <div class="mt-col-80">
                <post-form></post-form>
                <app-chat 
                    [show]="display"
                    [username]="username"
                    [avatar]="avatar"

                >         
                </app-chat>
                <app-post></app-post> 
            </div>
        </div> 
        <div class="col-3">
            <app-friends 
                (display)="showEvent($event)"
                (username)="getUsername($event)"
                (avatar)="getAvatar($event)"
            >
            </app-friends>
        </div> 
            
    </div>
</div>




