<div class="container-fluid form-bg">
    <div class="container login-form">
        <h2 class="text-center mt-3" id="title">JOIN MEETWEET COMMUNITY</h2>
      
         <hr>
        <div class="row login-form-details">
            <div ngModelGroup="register" class="col-md-6 register">
                 <form #register="ngForm" role="form">
                    <fieldset>							
                        <p class="text-uppercase pull-center"> SIGN UP.</p>	
                         <div class="form-group">
                            <input ngModel type="text" name="username" id="username" class="form-control input-lg" placeholder="username" />
                        </div>

                        <div class="form-group">
                            <input ngModel type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input ngModel type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" />
                        </div>
                            <div class="form-group">
                            <input ngModel type="password" name="password2" id="password2" class="form-control input-lg" placeholder="Repeat Password" />
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                              <input ngModel type="checkbox" class="form-check-input" /> 
                              By Clicking register you're agree to our policy & terms
                            </label>
                          </div>
                         <div>
                            <input type="submit" class="btn btn-lg btn-primary mt-3" value="Register" />
                         </div>
                    </fieldset>
                </form>
        
            </div>
            
     
            
            <div class="col-md-6 login">
                <form #login="ngForm" role="form">
                    <fieldset ngModelGroup="login">							
                        <p class="text-uppercase"> Login using your account: </p>	       
                        <div class="form-group">
                            <input ngModel type="email" name="email" id="email" class="form-control input-lg" placeholder="email" />
                        </div>
                        <div class="form-group">
                            <input ngModel type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" />
                        </div>
                        <div>
                            <input type="submit" class="btn btn-md btn-primary" value="Sign In" />
                        </div>       
                    </fieldset>
                </form>	
            </div>
        </div>
    </div>

</div>
