<div class="container-fluid form-bg">
    <div class="container login-form">
        <h2 class="text-center mt-3" id="title">JOIN MEETWEET COMMUNITY</h2>
      
         <hr>
        <div class="row login-form-details">
            <div class="col-md-6 register">
                 <form #registerForm="ngForm" role="form" (ngSubmit)="onSubmit()">
                    <fieldset>	
					
                        <p class="text-uppercase pull-center"> SIGN UP.</p>	
                         <div class="form-group">
                             <label for="username">Username</label>
                            <input [(ngModel)]="registerModel.username" type="text" name="username" id="username" class="form-control input-lg" placeholder="username" />
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input [(ngModel)]="registerModel.email" type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input [(ngModel)]="registerModel.password" type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" />
                        </div>
                        <div class="form-group">
                            <label for="password2">Repeat Password</label>
                            <input [(ngModel)]="registerModel.repeatPassword" type="password" name="repeatPassword" id="repeatpassword" class="form-control input-lg" placeholder="Repeat Password" />
                        </div>
                        <div class="form-check">
                            <label for="agreement">Agreement</label>
                              <input [(ngModel)]="registerModel.policyAgreement" type="checkbox" name="checkbox" class="form-check-input" /> 
                              By Clicking register you're agree to our policy & terms  
                          </div>
                         <div>
                            <input type="submit" class="btn btn-lg btn-primary mt-3" value="Register" />
                         </div>
                    </fieldset>
                </form>
        
            </div>

            <div class="col-md-6 login">
                <form #loginForm="ngForm" (ngSubmit)="loginUser()">
        
                    <fieldset ngModel="login">							
                        <p class="text-uppercase"> Login using your account: </p>	       
                        <div class="form-group">
                            <label for="email">Email </label>
                            <input [(ngModel)]="loginModel.email" type="email" name="login-email" id="login-email" class="form-control input-lg" placeholder="email" />
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input [(ngModel)]="loginModel.password"  type="password" name="loginpassword" id="login-password" class="form-control input-lg" placeholder="Password" />
                        </div>
                        <div>
                            <input type="submit" class="btn btn-md btn-primary" value="Sign In" />
                        </div>       
                    </fieldset>
                </form>	
            </div>
            
        </div>

        
    </div>

    

</div>
