<div class="row sidebar">
    <div class="account">
        <span class="acct"><img class="acct_avatar" src="../../assets/content-image/avatar1.png" alt="">Account</span>    
    </div>

    <hr>

    <ul class="sidebar-group list-group">
        <li class="list-group-item active sidebar-item bg-primary" aria-current="true"><fa-icon class="icon"  [icon]="faHouse"></fa-icon><a href="#">Home</a></li>
        <li class="list-group-item sidebar-item "><fa-icon class="icon"  [icon]="faUser"></fa-icon><a href="#">Profile</a></li>
        <li class="list-group-item sidebar-item "><fa-icon class="icon"  [icon]="faUser"></fa-icon><a href="#">List</a></li>
        <li class="list-group-item sidebar-item "><fa-icon class="icon"  [icon]="faUser"></fa-icon><a href="#">Bookmarks</a></li>
        <li class="list-group-item sidebar-item "><fa-icon class="icon"  [icon]="faUser"></fa-icon><a href="#">Settings</a></li>
        <li class="list-group-item sidebar-item"><fa-icon class="icon" [icon]="faEnvelop"></fa-icon><a href="#">Messages</a></li>
        <li class="list-group-item sidebar-item"><fa-icon class="icon"  [icon]="faBell"></fa-icon><a href="#">Notification</a></li>
        <li class="list-group-item sidebar-item"><fa-icon class="icon"  [icon]="faUserFriends"></fa-icon><a href="#">Friends</a></li>
    </ul>
</div>
