.post-avatar {
    width: 10%;
    min-width: 10%;
}

.post-content {
    font-size: small;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.post-item {
    border: solid rgb(128, 128, 128) 1px;
    padding: 10px 0;
    text-decoration: none;
    color: white;
}

.post-image {
    width: 90%;
    border-radius: 3%;
}

.post-impressions {
    margin: 9px 0 0 3px ;
}

.post-likes, .post-dislikes {
    margin: 0 20px 0 5px;
}